body{
  Background-color: #5A8F7B
}
 hr {
   height: 3px;
   border-style: none;
   background-color: #355764;
 }
 img{
   height: 200px
 }
 h1
 {
   color: #355764;
 }
 h2
 {
   color: #355764;
 }
a:hover{color: black;}
